
@font-face {
    font-family: Montserrat;
    src: url("../static/fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: Montserrat;
    src: url("../static/fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: Montserrat;
    src: url("../static/fonts/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: Montserrat;
    src: url("../static/fonts/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: Poppins;
    src: url("../static/fonts/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: Poppins;
    src: url("../static/fonts/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: Poppins;
    src: url("../static/fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: Roboto;
    src: url("../static/fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
}